body{
    background-color: rgba(241, 241, 241, 1);
}
.about-item-up{
    background-color: white;
    margin-bottom: 15px;
    height: 296px;
}
.about-item-down{
    background-color: white;
    margin-bottom: 15px;
    height: 312px;
}
.avatar{
    width:132px;
    height:132px;
    border-radius: 66px;
    margin:0 auto;
    margin-top: 25px;
}
.balance{
font-family: 'Roboto';
font-weight: 400;
font-size: 12px;
line-height: normal;
text-align: right;
color: #8F8F8F;
}
.notice{
    width: 24px;
    height: 16px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
}
.navMenu {
  text-decoration: none;
  color: #000000;
}
.sideBorder{
    border-left: solid 2px #D3D8DE;
}
.menuItem:hover{
    transition:background-color 0.8s;
	background-color: rgb(194, 194, 194);
	cursor: pointer;
	border-radius: 2px;
}
.commTime{
   color: rgba(143, 143, 143, 1);
}
.menu-sel{
    background-color: rgb(194, 194, 194);
    transition:background-color 0.6s;
}
.map{
    height: 480px;
}
.h2Font{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color:rgba(80, 80, 80, 1)
}
.h1Font{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    color:rgba(80, 80, 80, 1)
}
.pFont{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color:rgba(80, 80, 80, 1);
}
.mes-form{
    height: 190px;
    background-color: white;
}
.tarea{
    width: 85%;
    height: 88px;
}
.saveBut{
    height: 32px;
    width: 85%;
}
.collapsedNews{
    height: 56px;
    background-color: white;
}